/** CSS STYLE **/
@font-face {
  font-weight: 400;
  font-family: "Neucha";
  src: url('../fonts/Neucha-Regular.ttf') format("opentype");
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url('../fonts/OpenSans-Regular.ttf') format("opentype");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  src: url('../fonts/OpenSans-Bold.ttf') format("ttf");
}

:root {
  --white: #fff;
  --semitransparent-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --semitransparent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --orange-dark: #ea7600;
}

body {
  color: var(--dark);
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3 {
  font-family: "Neucha", sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  color: white;
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.d-flex {
  display: flex;
}

.d-flex.col {
  flex-direction: column;
}

.d-flex.center {
  justify-content: center;
}

.d-flex.middle {
  align-content: center;
}

.bg-main {
  position: relative;
}

.bg-main::before {
  position: absolute;
  top: 0;

  z-index: 0;

  width: 100%;
  height: 100%;

  background: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: '';
}

.bg-light {
  background-color: var(--light);
}

.content {
  position: relative;

  width: 1110px;
  padding: 100px 0;
}

.content h1 {
  position: relative;
  z-index: 1;
}

.content p {
  margin-bottom: 16px;
}

.mb-185 {
  margin-bottom: 185px;
}

.cols-2 {
  column-count: 2;
}

.color-main {
  color: var(--main);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.image-main {
  top: 55px;
  right: -270px;
  z-index: 0;

  height: 525px;
}

.overhide {
  overflow: hidden;
}

.break-inside {
  break-inside: avoid;
}

.pt-16 {
  padding-top: 16px;
}

.btn {
  display: block;
  padding: 11px 24px;
  border: none;

  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;

  background: var(--main);
}

.btn:hover {
  background: var(--orange-dark);
}

.mt-24 {
  margin-top: 40px;
}
