/** CSS STYLE **/
@font-face {
  font-weight: 400;
  font-family: "Neucha";
  src: url('../fonts/Neucha-Regular.ttf') format("opentype");
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url('../fonts/OpenSans-Regular.ttf') format("opentype");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  src: url('../fonts/OpenSans-Bold.ttf') format("ttf");
}

:root {
  --white: #fff;
  --semitransparent-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --semitransparent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --orange-dark: #ea7600;
}

body {
  color: var(--dark);
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3 {
  color: var(--main);
  font-family: "Neucha", sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.d-flex {
  display: flex;
}

.d-flex.col {
  flex-direction: column;
}

.d-flex.center {
  justify-content: center;
}

.d-flex.between {
  justify-content: space-between;
}

.d-flex.middle {
  align-content: center;
}

.d-flex.wrap {
  flex-wrap: wrap;
}

.bg-main {
  position: relative;
}

.bg-main::before {
  position: absolute;
  top: 0;

  z-index: 0;

  width: 100%;
  height: 100%;

  background: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: '';
}

.bg-light {
  background-color: var(--light);
}

.content {
  position: relative;

  width: 1110px;
  padding: 100px 0;
}

.content.center {
  text-align: center;
}

.content h1 {
  position: relative;
  z-index: 1;
}

.content p {
  margin-bottom: 16px;
}

.inverse img {
  margin-left: -37px;
}

.mb-185 {
  margin-bottom: 185px;
}

.cols-2 {
  column-count: 2;
}

.cols-2.gap-30 {
  column-gap: 30px;
}

.cols-2 .span-all {
  column-span: all;
}

.cols-2 h3 {
  padding: 5px 10px;

  color: var(--white);

  font-weight: 700;

  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;

  background: var(--brown);
}

.cols-2.inverse h3 {
  color: var(--brown);

  background: var(--white);
}

.color-main {
  color: var(--main);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.image-main {
  top: 55px;
  right: -270px;
  z-index: 0;

  height: 525px;
}

.overhide {
  overflow: hidden;
}

.break-inside {
  break-inside: avoid;
}

.pt-16 {
  padding-top: 16px;
}

.btn {
  display: inline-block;
  padding: 11px 24px;
  border: none;

  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;

  background: var(--main);
}

.btn:hover {
  background: var(--orange-dark);
}

.mt-24 {
  margin-top: 40px;
}

.mb-30 {
  margin-bottom: 30px;
}

.video {
  margin-top: 30px;
  margin-bottom: -200px;
}

.shadow {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.card {
  box-sizing: border-box;
  width: 350px;
  margin-bottom: 20px;
  padding: 24px;
}

.card.header {
  padding: 0;
}

.color-white {
  color: var(--white);
}

a.card {
  color: var(--dark);
  text-decoration: none;

  background: var(--light);
}

a.card:hover {
  color: var(--white);

  background: var(--main);
}

a.card:hover h3 {
  color: var(--white);
}

.card h2 {
  font-size: 52px;
  font-family: "Neucha", sans-serif;
}

.card p {
  margin-top: 16px;
  margin-bottom: 0;
}

.bg-main-dark {
  background-color: var(--main-dark);
}

.pt-200 {
  padding-top: 200px;
}

.number {
  display: block;
  margin-bottom: 40px;

  font-size: 64px;
  font-family: "Neucha", sans-serif;
  line-height: 1em;
}

.ml-37 {
  margin-left: 37px;
}

.mr-37 {
  margin-left: 37px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-20 {
  margin-bottom: 20px;
}

.neucha {
  font-family: "Neucha", sans-serif;
}

.neucha span {
  color: var(--semitransparent-dark);
  font-size: 24px;
}

.inverse .neucha span {
  color: var(--semitransparent-white);
}

.neucha p {
  font-size: 34px;
  line-height: 1.2em;
}

.bg-brown {
  background: var(--brown);
}

.inverse {
  color: var(--white);
}

.color-dark {
  color: var(--dark);
}

.form-container {
  align-items: center;
  margin-bottom: 76px;
  padding: 38px 55px 40px 55px;
}

.copyright {
  font-size: 14px;
  text-align: center;
}

.copyright a {
  color: var(--blue);
}

.feedback {
  color: var(--white);
}

label[for="email"] {
  margin-bottom: 9px;

  font-size: 18px;
}

input[name="email"] {
  box-sizing: border-box;
  height: 50px;
  padding: 15px;
  border: none;
}

button[type="submit"] {
  position: relative;

  box-sizing: border-box;
  width: 70px;
  height: 50px;
  border: none;

  background: var(--main);
}

button[type="submit"]:hover {
  background: var(--orange-dark);
}

button[type="submit"]::before {
  display: block;
  width: 24px;
  height: 24px;

  background: url("../images/send.svg");
  transform: translateX(50%);

  content: '';
}

.f-item.grow-1 {
  flex-grow: 1;
}

.rule {
  font-size: 12px;
}

.rule a {
  color: var(--white);
}
